.animate.show {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.animate {
  opacity: 0;
  transform: translateY(50px);
}
.third-page {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.third-page.show {
  opacity: 1;
  transform: translateY(0);
}

.third-page img {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.third-page.show img {
  opacity: 1;
  transform: translateX(0);
}
